################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/BidNexus/.vs
/Backend/BidNexus/BidNexus/obj
/Backend/BidNexus/Core/obj
/Backend/BidNexus/Infrastructure/obj
/Backend/BidNexus/BidNexus/bin/Debug/net10.0
/Backend/BidNexus/Core/bin/Debug/net10.0
/Backend/BidNexus/Infrastructure/bin/Debug/net10.0
